<ion-view title="Consultas" ng-controller="ConsultaCtrl" >
      <ion-content class="padding has-subheader">
        <div class="bar bar-header">
          <h1 class="title">Consultas</h1>
              <button class="button button-icon ion-plus-round" ng-click="modal.show()">
              </button>
        </div>

        <div class="bar bar-subheader">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" ng-model="busqueda" placeholder="Search">
          </label>

        </div>

            <br><br><br><br><br><br>


    <ion-list >
      <ion-item ng-repeat="todo in toDos | filter: busqueda">
      <center>

        <h2>Nombre de la Empresa: {{todo.Consulta_Empresa}}</h2>
        <h3>Nombre del Contacto: {{todo.Consulta_Contacto}}</h3>
        <h3>Nombre del Trabajador: {{todo.Consulta_Trabajador}}</h3>
        <h3>Forma de Contacto: {{todo.Consulta_FormaContacto}}</h3>
        <h3>Necesidad: {{todo.Consulta_Necesidad}}</h3>
        <h3>Status: {{todo.Consulta_Status}}</h3>
        <h3>Fecha: {{todo.Consulta_Fecha}}</h3>



      </center>
            <ion-option-button class="button-assertive"
                     ng-click="eliminar(todo)">
              Eliminar
            </ion-option-button>
            <ion-option-button class="button-energized"
                               ng-click="editar(todo)">
              Editar
            </ion-option-button>



      </ion-item>
    </ion-list>

     <!-- ____________________Inicio del Formulario de registro_______________________________________-->


         <script id="home.html" type="text/ng-template">
              <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-dark">
                  <h1 class="title">Nueva Conuslta</h1>
                  <button class="button button-outline button-assertive" ng-click="modal.hide()">Cancel</button>
                </ion-header-bar>
                <ion-content class="padding">

                  <form role="form" name="formu" ng-model="formulario">


            <!-- __________________________________Mensajes ____________________________________-->

               <!-- Mensaje de nombre de la empresa-->
                  <div ng-show="formu.Empresa.$dirty">

                    <div ng-show="formu.Empresa.$error.required" class="alert alert-danger" role="alert">
                      Nombre de la Empresa OBLIGATORIO
                    </div>
                    
                  </div>

                  <!-- Mensaje de nombre del contacto-->
                  <div ng-show="formu.Contacto.$dirty">

                    <div ng-show="formu.Contacto.$error.required" class="alert alert-danger" role="alert">
                      Nombre del Contacto OBLIGATORIO
                    </div>
                    
                  </div>

                 <!-- Mensaje de nombre del Trabajador-->
                  <div ng-show="formu.Trabajador.$dirty">

                    <div ng-show="formu.Trabajador.$error.required" class="alert alert-danger" role="alert">
                      Nombre del Trabajador OBLIGATORIO
                    </div>
                    
                  </div>

              <!-- Fin de Mensajes -->

              <!-- Campos -->

                <!-- Campo de nombre de la empresa -->
                        <div class="list">
                            <label  class="item item-input item-floating-label" for="Empresa" ng-class="{ 'has-error': formu.Empresa.$invalid, 'has-success': formu.Empresa.$valid }">
                              <span class="input-label">Empresa</span>

                              <span ng-if="formu.Empresa.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                              
                                <input type="text" class="form-control" 
                                    name="Empresa" 
                                    id="Empresa" 
                                    placeholder="Nombre de la Empresa" 
                                    ng-model="Empresa" 
                                     required>

                            </label>
                          </div>

                 <!-- Campo de nombre del contacto -->
                        <div class="list">
                           <label for="Contacto" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Contacto.$invalid, 'has-success': formu.Contacto.$valid }">
                            <span class="input-label">Contacto</span>

                            <span ng-if="formu.Contacto.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="text" class="form-control" 
                                  name="Contacto" 
                                  id="Contacto" 
                                  placeholder="Nombre del Contacto" 
                                  ng-model="Contacto"
                                  autofocus required>
                          </label>
                          
                        </div>


                <!-- Campo de nombre del trabajador -->
                        <div class="list">
                          <label for="Trabajador" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Trabajador.$invalid, 'has-success': formu.Trabajador.$valid }">
                            <span class="input-label">Trabajador</span>

                            <span ng-if="formu.Trabajador.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="text" class="form-control"
                              name="Trabajador" 
                              id="Trabajador" 
                              placeholder="Trabajador" 
                              ng-model="Trabajador" 
                              autofocus required>
                          </label>
                        </div>

                      
                <!-- Seleccionar la forma de contacto -->
                      <div class="list">
                      <label for="FormaContacto" class="item item-input item-select">
                        <div class="input-label">
                          Forma Contacto
                        </div>
                      <select class="form-control" ng-model="FormaContacto" >
                        <option selected>Seleccione una </option>
                        <option>Busqueda en internet(Google)</option>
                        <option>Recomendación</option>
                        <option>Facebook</option>
                        <option>Otro</option>
                      </select>
                      </label>

                      </div>

                <!-- Seleccionar la necesidad -->
                      <div class="list">
                      <label for="Necesidad" class="item item-input item-select">
                        <div class="input-label">
                          Necesidad
                        </div>
                      <select class="form-control" ng-model="Necesidad">
                        <option selected>Seleccione una </option>
                        <option>Desarrollo Web</option>
                        <option>Campañas Digitales</option>
                        <option>Aplicaciones</option>
                        <option>Diseño Grafico</option>
                      </select>
                      </label>

                      </div>

                <!-- Seleccionar el Status de la consulta -->
                      <div class="list">
                      <label for="Status" class="item item-input item-select">
                        <div class="input-label">
                          Status
                        </div>
                      <select class="form-control" ng-model="Status">
                        <option selected>Seleccione uno </option>
                        <option>Enviado</option>
                        <option>Seguimiento</option>
                        <option>Aceptado</option>
                      </select>
                      </label>
                    </div>

                <!-- Seleccionar la fecha de la consulta -->
                    <label for="Fecha" class="item item-input">
                      <span  class="input-label">Fecha</span>
                      <input type="date" ng-model="Fecha" placeholder="Fecha" >
                    </label>

              <!-- Fin de los Campos -->
              
              <!-- Hasta que sea valido el formulario se habilita el botón -->
                <center>  
            <button ng-disabled="formu.$invalid" id="btnSend" class="button button-outline button-positive" ng-click="agregar2(Empresa, Contacto, Trabajador, FormaContacto, Necesidad, Status, Fecha)">Guardar</button>

                </center>

                </form>
                </ion-content>
              </ion-modal-view>
    </script>


    <!-- ____________________Fin del Formulario de registro_______________________________________-->


    </ion-content>

 
</ion-view>
