/*  # Theme Profile header
===========================================*/
.view {
  background-color: transparent;
  z-index: 0; }

.hero {
  background: #fcb64e;
  background: -moz-linear-gradient(left, #fcb64e 0%, #f1582c 50%, #b72025 100%);
  background: -webkit-linear-gradient(left, #fcb64e 0%, #f1582c 50%, #b72025 100%);
  background: linear-gradient(left, #fcb64e 0%, #f1582c 50%, #b72025 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#fcb64e', endColorstr='#b72025',GradientType=1 );
  overflow: hidden;
  height: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .hero h1.header-title {
    color: white;
    font-size: 28px;
    margin-top: 25px; }
  .hero h2.header-subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px; }
  .hero .icon-small {
    color: white;
    font-size: 20px !important; }
  .hero p {
    color: white;
    font-size: 14px !important; }
  .hero img {
    max-width: 64px !important;
    max-height: 64px !important; }
  .hero .half {
    width: 50%;
    padding: 5px 0;
    float: left; }
  .hero .item-icon-left {
    padding-left: 45px;
    border-color: transparent; }
  .hero .item-avatar {
    padding-left: 90px; }

/*  # Menu List
===========================================*/
.menu-list {
  top: 180px; }
  .menu-list .item-bcg {
    background-color: rgba(55, 71, 79, 0.6) !important;
    border-color: rgba(55, 71, 79, 0);
    margin-bottom: 2px;
    transition: all 0s ease-out; }
  .menu-list h2.item-title {
    color: white;
    font-size: 20px; }
  .menu-list h3.item-subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px; }
  .menu-list .icon-small {
    color: #ef4437 !important;
    font-size: 20px !important; }
  .menu-list .badge-small {
    background-color: #ef4437 !important;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 16px;
    top: 25px;
    right: 20px;
    min-width: auto !important;
    font-weight: normal; }
