<ion-view title="Editar Empresas" ng-controller="EmpresaCtrl" >
          <ion-header-bar class="bar bar-header bar-dark">
             <h1 class="title">Editar Empresa</h1>
              <button class="button button-outline button-assertive" onClick="window.location='/#/leftMenu'">Cancel</button>
          </ion-header-bar>

      <ion-content>
            <form role="form" name="formu" ng-model="formulario" ng-submit="editarEmpresa(empresaElegida)">
            <!-- _____________________________________Mensajes _________________________________-->

                  <!-- Mensaje de nombre de la empresa-->
                  <div ng-show="formu.Empresa.$dirty">

                    <div ng-show="formu.Empresa.$error.required" class="alert alert-danger" role="alert">
                      Nombre de la Empresa OBLIGATORIO
                    </div>
                    
                  </div>

                  <!-- Mensaje de Dirección de la empresa-->
                  <div ng-show="formu.Direccion.$dirty">

                    <div ng-show="formu.Direccion.$error.required" class="alert alert-danger" role="alert">
                      La dirección es OBLIGATORIA
                    </div>
                    
                  </div>

                 <!-- Mensaje de email-->
                  <div ng-show="formu.Email.$dirty">

                    <div ng-show="formu.Email.$error.required" class="alert alert-danger" role="alert">
                      Email OBLIGATORIO
                    </div>
                   
                    <div ng-show="formu.Email.$error.email" class="alert alert-danger" role="alert">
                      Email INVÁLIDO
                    </div>
                  </div>

                   <!-- Mensaje de teléfono-->
                  <div ng-show="formu.Telefono.$dirty">

                    <div ng-show="formu.Telefono.$error.required" class="alert alert-danger" role="alert">
                      Teléfono OBLIGATORIO
                    </div>
                    
                  </div>

              <!-- _______________________________________Fin de Mensajes____________________________________________ -->

              <!-- ___________________________________________Campos_________________________________________________ -->

                <!-- Campo de nombre de la empresa -->
                        <div class="list">
                            <label  class="item item-input item-floating-label" for="Empresa" ng-class="{ 'has-error': formu.Empresa.$invalid, 'has-success': formu.Empresa.$valid }">
                              <span class="input-label">Empresa</span>

                              <span ng-if="formu.Empresa.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                              
                                <input type="text" class="form-control" 
                                    name="Empresa" 
                                    id="Empresa" 
                                    placeholder="Nombre de la Empresa" 
                                    ng-model="empresaElegida.Empresa" 
                                     required>

                            </label>
                          </div>

                 <!-- Campo de dirección -->
                        <div class="list">
                           <label for="Direccion" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Direccion.$invalid, 'has-success': formu.Direccion.$valid }">
                            <span class="input-label">Dirección</span>

                            <span ng-if="formu.Direccion.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="text" class="form-control" 
                                  name="Direccion" 
                                  id="Direccion" 
                                  placeholder="Dirección" 
                                  ng-model="empresaElegida.Direccion"
                                  autofocus required>
                          </label>
                          
                        </div>


                <!-- Campo de Email -->
                        <div class="list">
                          <label for="Email" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Email.$invalid, 'has-success': formu.Email.$valid }">
                            <span class="input-label">Email</span>

                            <span ng-if="formu.Email.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="email" class="form-control"
                              name="Email" 
                              id="Email" 
                              placeholder="Email" 
                              ng-model="empresaElegida.Email" 
                              autofocus required>
                          </label>
                        </div>


                        <!-- Campo de teléfono -->
                        <div class="list">
                          <label for="Telefono" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Telefono.$invalid, 'has-success': formu.Telefono.$valid }">
                            <span class="input-label">Teléfono</span>

                            <span ng-if="formu.Telefono.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="number" class="form-control"
                              name="Telefono" 
                              id="Telefono" 
                              placeholder="Teléfono" 
                              ng-model="empresaElegida.Telefono" 
                              autofocus required>
                          </label>
                        </div>

                      
                
              <!-- _______________________________________________Fin de los Campos_______________________________________ -->
              
              <!-- Hasta que sea valido el formulario se habilita el botón -->
                <center>  
                <button ng-disabled="formu.$invalid" onClick="window.location='/#/leftMenu'" class="button button-outline button-positive"> Guardar</button>

                </center>

      </form>



</ion-view>
      </ion-content>
