<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Consultas</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->


    <link rel="manifest" href="manifest.json">

   

  
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-messages.min.js"></script>

    <!-- your app's js -->
    <script src="js/appConsulta.js"></script>


  </head>
  <body ng-app="starter">
      
      <ion-pane>

      <ion-header-bar class="bar bar-positive">
        
           <a class="button icon-right ion-chevron-right button-clear button-dark pull-right" onClick="window.location='empresa.html'">Empresas</a>

          <h3>Formulario de Consulta</h3> 

      </ion-header-bar>

     <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
          <a class="tab-item active" href="#">
            <i class="ion-android-list"></i>
            Test
          </a>
          <a class="tab-item" href="#">
            <i class="ion-social-usd-outline"></i>
            Cotización
          </a>
        </div>
      </div>
      
      <ion-view title="Formulario de Consulta">

             
      

      <ion-content class="padding has-subheader" ng-controller="ExampleController"><center><h3>Formulario de Consulta</h3></center>



            <form role="form" name="formu" ng-model="formulario">


              <!-- Mensajes -->

                  <!-- Mensaje de nombre de la empresa-->
                  <div ng-show="formu.Empresa.$dirty">

                    <div ng-show="formu.Empresa.$error.required" class="alert alert-danger" role="alert">
                      Nombre de la Empresa OBLIGATORIO
                    </div>
                    
                  </div>

                  <!-- Mensaje de nombre del contacto-->
                  <div ng-show="formu.Contacto.$dirty">

                    <div ng-show="formu.Contacto.$error.required" class="alert alert-danger" role="alert">
                      Nombre del Contacto OBLIGATORIO
                    </div>
                    
                  </div>

                 <!-- Mensaje de nombre del Trabajador-->
                  <div ng-show="formu.Trabajador.$dirty">

                    <div ng-show="formu.Trabajador.$error.required" class="alert alert-danger" role="alert">
                      Nombre del Trabajador OBLIGATORIO
                    </div>
                    
                  </div>

              <!-- Fin de Mensajes -->

              <!-- Campos -->

                <!-- Campo de nombre de la empresa -->
                        <div class="list">
                            <label  class="item item-input item-floating-label" for="Empresa" ng-class="{ 'has-error': formu.Empresa.$invalid, 'has-success': formu.Empresa.$valid }">
                              <span class="input-label">Empresa</span>

                              <span ng-if="formu.Empresa.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                              
                                <input type="text" class="form-control" 
                                    name="Empresa" 
                                    id="Empresa" 
                                    placeholder="Nombre de la Empresa" 
                                    ng-model="Empresa" 
                                     required>

                            </label>
                          </div>

                 <!-- Campo de nombre del contacto -->
                        <div class="list">
                           <label for="Contacto" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Contacto.$invalid, 'has-success': formu.Contacto.$valid }">
                            <span class="input-label">Contacto</span>

                            <span ng-if="formu.Contacto.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="text" class="form-control" 
                                  name="Contacto" 
                                  id="Contacto" 
                                  placeholder="Nombre del Contacto" 
                                  ng-model="contacto"
                                  autofocus required>
                          </label>
                          
                        </div>


                <!-- Campo de nombre del trabajador -->
                        <div class="list">
                          <label for="Trabajador" class="item item-input item-floating-label" ng-class="{ 'has-error': formu.Trabajador.$invalid, 'has-success': formu.Trabajador.$valid }">
                            <span class="input-label">Trabajador</span>

                            <span ng-if="formu.Trabajador.$invalid" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

                              <input type="text" class="form-control"
                              name="Trabajador" 
                              id="Trabajador" 
                              placeholder="Trabajador" 
                              ng-model="trabajador" 
                              autofocus required>
                          </label>
                        </div>

                      
                <!-- Seleccionar la forma de contacto -->
                      <div class="list">
                      <label for="FormaContacto" class="item item-input item-select">
                        <div class="input-label">
                          Forma Contacto
                        </div>
                      <select class="form-control" id="FormaContacto">
                        <option selected>Seleccione una </option>
                        <option>Busqueda en internet(Google)</option>
                        <option>Recomendación</option>
                        <option>Facebook</option>
                        <option>Otro</option>
                      </select>
                      </label>

                      </div>

                <!-- Seleccionar la necesidad -->
                      <div class="list">
                      <label for="Necesidad" class="item item-input item-select">
                        <div class="input-label">
                          Necesidad
                        </div>
                      <select class="form-control" id="Necesidad">
                        <option selected>Seleccione una </option>
                        <option>Desarrollo Web</option>
                        <option>Campañas Digitales</option>
                        <option>Aplicaciones</option>
                        <option>Diseño Grafico</option>
                      </select>
                      </label>

                      </div>

                <!-- Seleccionar el Status de la consulta -->
                      <div class="list">
                      <label for="Status" class="item item-input item-select">
                        <div class="input-label">
                          Status
                        </div>
                      <select class="form-control" id="Status">
                        <option selected>Seleccione uno </option>
                        <option>Enviado</option>
                        <option>Seguimiento</option>
                        <option>Aceptado</option>
                      </select>
                      </label>
                    </div>

                <!-- Seleccionar la fecha de la consulta -->
                    <label for="Fecha" class="item item-input">
                      <span  class="input-label">Fecha</span>
                      <input type="date" id="Fecha" placeholder="Fecha" >
                    </label>

              <!-- Fin de los Campos -->
              
              <!-- Hasta que sea valido el formulario se habilita el botón -->
                <center>  
                <button ng-disabled="formu.$invalid" id="btnSend" class="button button-outline button-positive">Generar Consulta</button>

                </center>

      </form>


  
        

            
            <div class="table-responsive">
              <table id="Table"  class="table"> 
                      <thead>
                        <tr>
                          <th>
                            Empresa
                          </th>
                          <th>
                            Contacto
                          </th>
                          <th>
                          Trabajador
                          </th>
                          <th>
                            FormaContacto
                          </th>
                          <th>
                            Necesidad
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Fecha
                          </th>
                          <th colspan="2">
                            Acciones
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
              

        </ion-content>

</ion-view>


</ion-pane>

</body>



</html>
